<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>LinkedIn</title>
</head>
<body class="text-center">
<div>

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Feed</h1>
            </div>
        </div>

    </div>

        <form action="#" th:action="@{/feed/add}" method="POST" class="input-group mb-3 w-25">
            <input type="text" name="content" class="form-control" placeholder="Add a new post" required="required"/>

            <div class="input-group-append">
                <input class="btn btn-outline-secondary" type="submit"/>
            </div>
        </form>


    <ul class="list-group">

        <li class="list-group-item d-flex justify-content-between align-items-center w-25"
            th:each="alkio : ${postObjects}">

            <div class="d-flex">
                <span th:text="${alkio.getPost().getPoster().getFullname()}">poster</span>
                <span th:text="${alkio.getPost().getDate()}">date</span>
                <span th:text="${alkio.getPost().getContent()}">content</span>
                <span th:text="${alkio.getLikeCount()}">content</span>
                <form action="#" th:action="@{'/feed/{id}'(id=${alkio.getPost().getId()})}" th:method="delete">
                    <input
                        type="submit" value="delete" class="btn btn-danger"/>
                </form>
            </div>

            <ul class="list-group">
                <li th:each="comment : ${alkio.getComments()}">
                    <span th:text="${comment.getContent()}">content</span>
                    <div th:if="${comment.getCreator().getId() == userId}" >
                    <form action="#" th:action="@{'/feed/comment/{id}'(id=${comment.getId()})}" th:method="delete">
                        <input
                                type="submit" value="delete" class="btn btn-danger"/>
                    </form>
                    </div>
                </li>
            </ul>

            <form action="#" th:action="@{'/feed/comment/add/{id}'(id=${alkio.getPost().getId()})}" method="POST"
                  class="input-group mb-3 w-25">
                <input type="text" name="content" class="form-control" placeholder="Add a new post" required="required"/>

                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit"/>
                </div>
            </form>


            <form action="#"
                  th:action="@{'/feed/like/{id}'(id=${alkio.getPost().getId()})}"
                  th:method="post">
                <input type="submit" value="Like" class="btn btn-success"/>
            </form>


        </li>
    </ul>

</div>
</body>
</html>
