<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>LinkedIn</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous" />
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    </head>
    <body class="text-center">
    <div class="row">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

        <h1>Welcome to LinkedIn</h1>
        
        
        <a href="/signup"><button type="button" class="btn btn-primary btn-lg" w-25 p-3>Sign up!</button></a>
        <a href="/login"><button type="button" class="btn btn-secondary btn-lg" w-25 p-3>Login here!</button></a>
        </div>
    </div>

    </body>
</html>
